.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.title-modal {
  color: var(--title-text-color);
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--background-color);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 5px;

  background-color: var(--background-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close-btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-color);

  width: 18px;
  height: 18px;
}

.modal-close-btn {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form,
.fields,
.field {
  display: flex;
  flex-direction: column;
}
.form {
  width: 528px;
  height: 581px;
}
.fields {
  margin-bottom: 20px;
  text-align: left;
}
.form__field,
.field textarea {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .form__field,
.field:hover .form__field,
.field:focus-within textarea,
.field:hover textarea {
  border: 1px solid var(--accent-color);
  outline: none;
}
.field:not(:last-child) {
  margin-bottom: 10px;
}
.field label {
  font-size: 12px;
  margin-bottom: 4px;
}
.field {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  margin: 0;
  padding: 3px;

  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within > .form-icon,
.field:hover > .form-icon {
  fill: var(--accent-color);
}
.field textarea {
  resize: none;
  width: 448px;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
}
.checkbox {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.field-checkbox {
  appearance: none;
}
.field-checkbox .checkbox-icon {
  display: inline-flex;
}
.field-checkbox:focus-within + .checkbox-icon {
  border: 2px solid var(--accent-color);
}
.field-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.field-label .link {
  color: var(--accent-color);
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  padding: 0;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-image: url("../images/check2.svg");
  background-position: center;
  background-size: contain;
}
.field-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
