.buttons {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;
    margin-left: -8px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    justify-content: center;
  }
}
.buttons li {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.all-button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-top: 15px;
    margin-left: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.all-button {
  &:focus,
  &:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px 0 var(--primary-text-color);
  }
}

.examples__title {
  font-family: Roboto;
  color: var(--title-text-color);
}

.examples__text {
  font-family: Roboto;
  color: var(--primary-text-color);
}
.projects {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.projects__link {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.img-thumb .card {
  display: block;
}
.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.examples__title {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.examples__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.projects__link {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
  }
}
.link-text {
  padding: 20px 24px;
  border-left: 1px solid var(--card-border-line);
  border-bottom: 1px solid var(--card-border-line);
  border-right: 1px solid var(--card-border-line);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.img-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--background-color);

  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.link-thumb:hover .overlay,
.link-thumb:focus .overlay {
  transform: translateY(0);
}
