.join .join__networks {
  color: var(--background-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.join .social-networks__list {
  margin-top: 20px;
  margin-left: 0;
}
.join .networks {
  background-color: #44454e;
  border-radius: 50%;
}
.join .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join .networks__icon {
  fill: currentColor;
  margin: 12px;
}
.join .social-networks {
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.join {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}
