.image {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
.image-work {
  padding-bottom: 94px;
}
.image:not(:last-child) {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.thumb {
  position: relative;

  
}

.thumb img {
  display: block;
}
.thumb__text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color);
}
.thumb__text > p {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
