.team {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  background-color: #f5f4fa;
}

.team__link {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}
.staff {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
}
.social-networks__list {
  display: flex;
  justify-content: center;
}
.networks:nth-child(4) {
  margin-right: 0;
}
.networks {
  margin-right: 10px;
}
.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__icon {
  fill: currentColor;
  margin: 12px;
}

.social-networks {
  &:hover,
  &:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
  }
}
